.stickerize-button {
  width: 100%;
  background: #6634c5;
  height: 50px;
  position: fixed;
  bottom: 0;
  border-style: none;
  font-weight: bolder;
  -webkit-box-shadow: 0px -3px 57px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 57px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 57px -5px rgba(0, 0, 0, 0.5);
}
