:root {
  --primary-color: #7636db;
  --accent-color: #cfbded;
}

body {
  background-color: #dfd7ec;
  animation: 0.3s ease-in fade-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Title*/
.title {
  text-align: center;
  font-weight: 900;
  font-size: x-large;
}

/*Select images button*/
.selectImagesButton {
  display: block;
  width: 80%;
  max-width: 256px;
  height: 230px;
  background-color: var(--primary-color);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.selectImagesButton:hover {
  box-shadow: 0 10px 30px -10px var(--primary-color);
}

.picture-icon {
  color: var(--accent-color); 
  font-size: 7em;
  margin-left: 0px;
}

.picture-icon::before {
  font-family: Flaticon;
  content: "\f1ec";
}

/*select imagens button text*/
.selectImagesButtonText {
  color: var(--accent-color);
  font-weight: bold;
  position: relative;
  bottom: 66px;
}

.devider {
  background-color: #c6c6c6;
  height: 1px;
  width: 80%;
  margin: 70px auto 10px auto;
}

.feature-container {
  display: flex;
  flex-direction: column;
}

.feature {
  display: block;
  width: 80%;
  height: 230px;
  margin: 30px auto 0px auto;
  text-align: center;
}

.feature-icon {
  font-size: 5em;
}

.layers::before {
  font-family: Flaticon;
  content: "\f1a2";
}

.stop-watch-4::before {
  font-family: Flaticon;
  content: "\f240";
}

.footer {
  text-align: center;
  font-weight: lighter;
}

.footerLink {
  color: var(--primary-color);
  text-decoration: none;
}
